@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer base {
   :root {
    --background: 0 0% 100%;
    --foreground: 220 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 220 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 10% 10%;
    --primary: 200 80% 35%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 50% 70%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 20% 96%;
    --muted-foreground: 215 10% 45%;
    --accent: 210 20% 96%;
    --accent-foreground: 220 8% 20%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 20% 90%;
    --input: 210 20% 90%;
    --ring: 200 80% 35%;
    --chart-1: 200 80% 35%;
    --chart-2: 260 60% 50%;
    --chart-3: 45 90% 60%;
    --chart-4: 175 70% 45%;
    --chart-5: 350 70% 50%;
    --sidebar: 200 80% 35%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 200 80% 25%;
    --sidebar-accent: 260 50% 45%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 200 70% 45%;
    --sidebar-ring: 0 0% 100%;
    --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
    --font-serif: "Playfair Display", serif;
    --font-mono: "Fira Mono", monospace;
    --radius: 0.5rem;
    --shadow-x: 0rem;
    --shadow-y: 0.125rem;
    --shadow-blur: 0.25rem;
    --shadow-spread: 0rem;
    --shadow-opacity: 0.08;
    --shadow-color: hsl(220, 10%, 10%);
    --shadow-2xs: 0rem 0.125rem 0.25rem 0rem hsl(220 10% 10% / 0.04);
    --shadow-xs: 0rem 0.125rem 0.25rem 0rem hsl(220 10% 10% / 0.04);
    --shadow-sm: 0rem 0.125rem 0.25rem 0rem hsl(220 10% 10% / 0.08), 0rem 1px 2px -1px hsl(220 10% 10% / 0.08);
    --shadow: 0rem 0.125rem 0.25rem 0rem hsl(220 10% 10% / 0.08), 0rem 1px 2px -1px hsl(220 10% 10% / 0.08);
    --shadow-md: 0rem 0.125rem 0.25rem 0rem hsl(220 10% 10% / 0.08), 0rem 2px 4px -1px hsl(220 10% 10% / 0.08);
    --shadow-lg: 0rem 0.125rem 0.25rem 0rem hsl(220 10% 10% / 0.08), 0rem 4px 6px -1px hsl(220 10% 10% / 0.08);
    --shadow-xl: 0rem 0.125rem 0.25rem 0rem hsl(220 10% 10% / 0.08), 0rem 8px 10px -1px hsl(220 10% 10% / 0.08);
    --shadow-2xl: 0rem 0.125rem 0.25rem 0rem hsl(220 10% 10% / 0.20);
    --tracking-normal: normal;
    --spacing: 0.25rem;
  }
  
  .dark {
    --background: 220 10% 10%;
    --foreground: 210 20% 96%;
    --card: 220 10% 15%;
    --card-foreground: 210 20% 96%;
    --popover: 220 10% 15%;
    --popover-foreground: 210 20% 96%;
    --primary: 200 80% 55.0000%;
    --primary-foreground: 220 10% 10%;
    --secondary: 220 60% 70%;
    --secondary-foreground: 220 10% 10%;
    --muted: 220 8% 20%;
    --muted-foreground: 215 10% 65%;
    --accent: 220 8% 20%;
    --accent-foreground: 210 20% 96%;
    --destructive: 0 60% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 8% 25%;
    --input: 220 8% 25%;
    --ring: 200 80% 55.0000%;
    --chart-1: 200 80% 55.0000%;
    --chart-2: 260 60% 65%;
    --chart-3: 45 90% 70%;
    --chart-4: 175 70% 65%;
    --chart-5: 350 70% 60%;
    --sidebar: 220 10% 10%;
    --sidebar-foreground: 210 20% 96%;
    --sidebar-primary: 200 80% 55.0000%;
    --sidebar-primary-foreground: 220 10% 10%;
    --sidebar-accent: 260 50% 60%;
    --sidebar-accent-foreground: 220 10% 10%;
    --sidebar-border: 220 8% 25%;
    --sidebar-ring: 200 80% 55.0000%;
    --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
    --font-serif: "Playfair Display", serif;
    --font-mono: "Fira Mono", monospace;
    --radius: 0.5rem;
    --shadow-x: 0rem;
    --shadow-y: 0.125rem;
    --shadow-blur: 0.25rem;
    --shadow-spread: 0rem;
    --shadow-opacity: 0.4;
    --shadow-color: hsl(220, 10%, 10%);
    --shadow-2xs: 0rem 0.125rem 0.25rem 0rem hsl(220 10% 10% / 0.20);
    --shadow-xs: 0rem 0.125rem 0.25rem 0rem hsl(220 10% 10% / 0.20);
    --shadow-sm: 0rem 0.125rem 0.25rem 0rem hsl(220 10% 10% / 0.40), 0rem 1px 2px -1px hsl(220 10% 10% / 0.40);
    --shadow: 0rem 0.125rem 0.25rem 0rem hsl(220 10% 10% / 0.40), 0rem 1px 2px -1px hsl(220 10% 10% / 0.40);
    --shadow-md: 0rem 0.125rem 0.25rem 0rem hsl(220 10% 10% / 0.40), 0rem 2px 4px -1px hsl(220 10% 10% / 0.40);
    --shadow-lg: 0rem 0.125rem 0.25rem 0rem hsl(220 10% 10% / 0.40), 0rem 4px 6px -1px hsl(220 10% 10% / 0.40);
    --shadow-xl: 0rem 0.125rem 0.25rem 0rem hsl(220 10% 10% / 0.40), 0rem 8px 10px -1px hsl(220 10% 10% / 0.40);
    --shadow-2xl: 0rem 0.125rem 0.25rem 0rem hsl(220 10% 10% / 1.00);
  }
  
  body {
    letter-spacing: var(--tracking-normal);
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
